body {
    background: #313131;
    font-family: "Open Sans";
    text-align: center;
    margin-top: 500px;
}

main {
    max-width: 1000px;
    min-height: 300px;
    margin: auto;
    background: #efefef;
}

.play {
    background: greenyellow;
    color: black;
    padding: 5px 20px;
    border: 0px;
    border-radius: 5px;
    margin: 20px;
    font-size: 1.5rem;
}

.game {
    display: none;
}

label {
    font-size: 80px;
    margin: 15px;
}

input[class="option"]{
    display: none;
}

input[type="radio"]:checked + label {
    color: #840017;
}